/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/* line 2, ../scss/breakpoints/_base.scss */
body .header {
  background-color: #2980b9;
}
/* line 5, ../scss/breakpoints/_base.scss */
body .header #logo {
  display: none;
}
/* line 9, ../scss/breakpoints/_base.scss */
body .header #inner-header {
  background-image: url(../images/header.png);
  position: relative;
  background-repeat: no-repeat;
  display: block;
  padding-top: 132px;
}
/* line 17, ../scss/breakpoints/_base.scss */
body .nav-wrapper {
  background-color: #2980b9;
}
/* line 21, ../scss/breakpoints/_base.scss */
body .nav {
  background-color: #eaedf2;
  border-bottom: 0;
  margin: 0;
}
/* line 27, ../scss/breakpoints/_base.scss */
body .nav li a {
  display: block;
  color: #323944;
  text-decoration: none;
  padding: 0.75em;
}
/* line 33, ../scss/breakpoints/_base.scss */
body .nav li a:hover, body .nav li a:focus {
  color: white;
  background-color: #2980b9;
  text-decoration: none;
}
/* line 42, ../scss/breakpoints/_base.scss */
body.home article header.article-header {
  display: block;
}
/* line 46, ../scss/breakpoints/_base.scss */
body a, body a:visited {
  color: #2980b9;
}
/* line 49, ../scss/breakpoints/_base.scss */
body a:hover, body a:focus, body a:visited:hover, body a:visited:focus {
  color: #216693;
}

@media only screen and (min-width: 768px) {
  /* line 1, ../scss/breakpoints/_768up.scss */
  .nav {
    border: 0;
  }
  /* line 3, ../scss/breakpoints/_768up.scss */
  .nav ul {
    background: #323944;
    margin-top: 0;
  }
  /* line 10, ../scss/breakpoints/_768up.scss */
  .nav li.current-menu-item a,
  .nav li.current_page_item a,
  .nav li.current_page_ancestor a {
    border-bottom: 3px solid #2980b9;
  }
  /* line 15, ../scss/breakpoints/_768up.scss */
  .nav li a:hover, .nav li a:focus {
    border-bottom: 3px solid #2980b9;
  }
}
/* line 2, ../scss/modules/_eventcalendar.scss */
.tribe-events-list .type-tribe_events {
  padding: 1em 0 1em 1em;
  border-radius: 0;
  border-top: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
/* line 10, ../scss/modules/_eventcalendar.scss */
.tribe-events-list .type-tribe_events.tribe-events-first {
  padding-top: 1em;
}
/* line 15, ../scss/modules/_eventcalendar.scss */
.tribe-events-list .type-tribe_events.tribe-event-end-month,
.tribe-events-list .type-tribe_events.tribe-events-last {
  border-bottom: 1px solid #ddd;
}
/* line 19, ../scss/modules/_eventcalendar.scss */
.tribe-events-list .tribe-events-event-meta {
  margin-top: 0;
  color: #9fa6b4;
  clear: none;
}
/* line 25, ../scss/modules/_eventcalendar.scss */
.tribe-events-list .tribe-events-read-more {
  display: none;
}
/* line 29, ../scss/modules/_eventcalendar.scss */
.tribe-events-list .tribe-events-event-cost {
  display: block;
}
/* line 32, ../scss/modules/_eventcalendar.scss */
.tribe-events-list .tribe-events-event-cost span {
  border-right: 0;
}

/* line 38, ../scss/modules/_eventcalendar.scss */
.widget.tribe-events-list-widget {
  margin-top: -1em;
}
/* line 41, ../scss/modules/_eventcalendar.scss */
.widget.tribe-events-list-widget h4.widgettitle {
  border-bottom: 0;
  color: #323944;
  font-size: 1em;
}
/* line 48, ../scss/modules/_eventcalendar.scss */
.widget.tribe-events-list-widget ol li {
  background-color: #fff;
  font-size: 80%;
  padding: 10px 0 10px 10px;
  margin: 0 0 10px 0;
  border-radius: 6px;
}
/* line 55, ../scss/modules/_eventcalendar.scss */
.widget.tribe-events-list-widget ol li h4 {
  margin: 0;
}
/* line 61, ../scss/modules/_eventcalendar.scss */
.widget.tribe-events-list-widget .tribe-events-widget-link {
  font-size: 80%;
  font-weight: bold;
}

/* line 68, ../scss/modules/_eventcalendar.scss */
body.tribe-theme-pleshey header.article-header {
  display: none;
}

/* line 73, ../scss/modules/_eventcalendar.scss */
#tribe-events-content.tribe-events-single {
  border: 0;
}
/* line 78, ../scss/modules/_eventcalendar.scss */
#tribe-events-content.tribe-events-single .tribe-events-sub-nav,
#tribe-events-content.tribe-events-single .tribe-events-cal-links,
#tribe-events-content.tribe-events-single .tribe-events-divider {
  display: none;
}
/* line 82, ../scss/modules/_eventcalendar.scss */
#tribe-events-content.tribe-events-single .tribe-events-schedule {
  padding: 0;
  margin: 0;
  background: inherit;
  border: 0;
}
/* line 89, ../scss/modules/_eventcalendar.scss */
#tribe-events-content.tribe-events-single .tribe-events-schedule h2 {
  color: #9fa6b4;
  font-size: 1em;
}
/* line 94, ../scss/modules/_eventcalendar.scss */
#tribe-events-content.tribe-events-single .tribe-events-back a {
  color: #9fa6b4;
  font-size: 16px;
  border: 1px solid #cccccc;
  padding: 8px;
  background-color: #f8f9fa;
  border-radius: 5px;
}
/* line 103, ../scss/modules/_eventcalendar.scss */
#tribe-events-content.tribe-events-single .tribe-events-back a:hover {
  color: #949bab;
  background-color: #eceff2;
}
/* line 108, ../scss/modules/_eventcalendar.scss */
#tribe-events-content.tribe-events-single .tribe-events-cost {
  background: #eee;
  border: 1px solid #ddd;
  border-left: 0;
  display: block;
  float: left;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.3;
  margin: 1em 0 0 -1.5em;
  padding: 5px 10px 5px 1.5em;
  text-align: center;
  text-overflow: ellipsis;
}
/* line 124, ../scss/modules/_eventcalendar.scss */
#tribe-events-content.tribe-events-single .tribe-events-single-event-description p {
  margin: 1em;
}

/* line 130, ../scss/modules/_eventcalendar.scss */
.tribe-events-loop .tribe-events-event-meta {
  padding: 0;
  margin: 5px 0;
  background: inherit;
  border: 0;
}
/* line 137, ../scss/modules/_eventcalendar.scss */
.tribe-events-loop .time-details {
  padding: 0;
}

/* line 144, ../scss/modules/_eventcalendar.scss */
#tribe-events-header .tribe-events-sub-nav,
#tribe-events-footer .tribe-events-sub-nav {
  overflow: inherit;
}
/* line 148, ../scss/modules/_eventcalendar.scss */
#tribe-events-header .tribe-events-sub-nav li.tribe-events-nav-next,
#tribe-events-header .tribe-events-sub-nav li.tribe-events-nav-previous,
#tribe-events-footer .tribe-events-sub-nav li.tribe-events-nav-next,
#tribe-events-footer .tribe-events-sub-nav li.tribe-events-nav-previous {
  width: auto;
  display: inline;
  margin-bottom: 2em;
}
/* line 153, ../scss/modules/_eventcalendar.scss */
#tribe-events-header .tribe-events-sub-nav li.tribe-events-nav-next a,
#tribe-events-header .tribe-events-sub-nav li.tribe-events-nav-previous a,
#tribe-events-footer .tribe-events-sub-nav li.tribe-events-nav-next a,
#tribe-events-footer .tribe-events-sub-nav li.tribe-events-nav-previous a {
  color: #9fa6b4;
  font-size: 16px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
  padding: 8px;
  background-color: #f8f9fa;
  border-radius: 5px;
}
/* line 163, ../scss/modules/_eventcalendar.scss */
#tribe-events-header .tribe-events-sub-nav li.tribe-events-nav-next a:hover,
#tribe-events-header .tribe-events-sub-nav li.tribe-events-nav-previous a:hover,
#tribe-events-footer .tribe-events-sub-nav li.tribe-events-nav-next a:hover,
#tribe-events-footer .tribe-events-sub-nav li.tribe-events-nav-previous a:hover {
  color: #949bab;
  background-color: #eceff2;
}
/* line 170, ../scss/modules/_eventcalendar.scss */
#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-left a span,
#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-right a span,
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-left a span,
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-right a span {
  display: inline;
  position: inherit;
  left: inherit;
  right: inherit;
  top: inherit;
}

/* line 181, ../scss/modules/_eventcalendar.scss */
#tribe-events .tribe-events-cal-links {
  display: none;
}
