body {
    img.size-medium,
    img.size-thumbnail,
    img.wp-post-image {
        @include transform(rotate(-3deg));
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
    }
}

.header {
    text-align: left;
}
