body {
    .header {
        background-color: $blue;

        #logo {
            position: absolute;
            top: 35px;
            left: 0;
            background-color: rgba(48,96,204, 0.7);
            background-position: right;
            padding: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            margin: 0;
            line-height: 1;
            font-size: 1.7em;

            a {
                margin: 0;
                color: #fff;
            }
        }

        #inner-header {
            background-image: url(../images/header.jpg);
            position: relative;
            background-repeat: no-repeat;
            display: block;
            padding-top: 132px;
        }
    }
    .nav-wrapper {
        background-color: $blue;
    }

    .nav {
	background-color: $gray;
	border-bottom: 0;
	margin: 0;

	li {
	    a {
		display: block;
		color: $black;
		text-decoration: none;
		padding: 0.75em;

		&:hover, &:focus {
                    color: $white;
                    background-color: $blue;
                    text-decoration: none;
		}
	    }
        }
    }

    &.home article header.article-header {
        display: block;
    }

    a, a:visited {
	color: $link-color;

	&:hover, &:focus {
	    color: $link-hover;
	}
    }

    .article-header {
        .byline {
            display: none;
        }

        h1 {
            font-size: 2.2em;
        }
    }

    p.walk-softly {
        text-align: center;
        font-style: italic;
    }
}
